body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("https://cdn.pixabay.com/photo/2015/11/11/15/36/broom-1038808__480.jpg");
      color: #F86C0C;
}
h2{
    font-style: italic; color: aqua; font-weight: bolder;
    font-size: 40px;
    text-align: center;
    background-color: grey;
}
/*div img{
    float: left; width: 25%;
}*/
.intro{
    margin-left: 30px; 
}
/*p{
    text-transform: capitalize;
}*/
ul{
    list-style-type: square;
}